.snow {
    min-width: 350px;
    background: linear-gradient(135deg, #82cbff, #a2e9ff, #ffffff);
    background-size: 120% 120%;
    padding: 1.5rem;
    border-radius: 1rem;
    border: 1px solid #ededed;
}